//
//  Development.xcconfig
//  Environment
//
//  Created by HuangZe on 2020/10/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Common.xcconfig"
//导入pods 对应的 config
#include "Pods/Target Support Files/Pods-Environment/Pods-Environment.debug(development).xcconfig"
#include "Pods/Target Support Files/Pods-Environment/Pods-Environment.release(development).xcconfig"

// Server URL
APP_SERVER_URL = http:/$()/wwww.baidu.com

// Keys
APPID_HW = 333333333

// App Settings
PRODUCT_NAME = APP(Dev)
PRODUCT_BUNDLE_IDENTIFIER = com.changhong.www.Environment.dev
APP_ICON = AppIcon-Dev
