//
//  Production.xcconfig
//  Environment
//
//  Created by HuangZe on 2020/10/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Common.xcconfig"
//导入pods 对应的 config
#include "Pods/Target Support Files/Pods-Environment/Pods-Environment.debug(production).xcconfig"
#include "Pods/Target Support Files/Pods-Environment/Pods-Environment.release(production).xcconfig"

// Server URL
APP_SERVER_URL = https:/$()/superapp.mymlsoft.com/saserver

// Keys
APPID_HW = 1111111111

// App Settings
PRODUCT_NAME = APP
PRODUCT_BUNDLE_IDENTIFIER = com.thoughtbot.www.Environment
APP_ICON = AppIcon-Production
