//
//  Test.xcconfig
//  Environment
//
//  Created by HuangZe on 2020/10/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Common.xcconfig"
//导入pods 对应的 config
#include "Pods/Target Support Files/Pods-Environment/Pods-Environment.debug(test).xcconfig"
#include "Pods/Target Support Files/Pods-Environment/Pods-Environment.release(test).xcconfig"

// Server URL
APP_SERVER_URL = http:/$()/wwww.facebook.com
TEST_URL = ${APP_SERVER_URL}/api/xxxxxx

// Keys
APPID_HW = 22222222

// App Settings
PRODUCT_NAME = APP(Test)
PRODUCT_BUNDLE_IDENTIFIER = com.thoughtbot.www.Environment.Test
APP_ICON = AppIcon-Beta
